@import 'fonts.css';
@import 'menu.css';
@import 'content.css';
@import 'hexList.css';
@import 'twinkleStars.css';
@import 'includes.css';

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#logo {
    margin: 0 auto;
    margin-bottom: 50px;
    opacity:0;
}

#logo img {
    position:relative;
    max-width:50%;
}
@media (orientation: landscape) {
    #logo {
        display:none;
    }
}

@media (orientation: portrait) {
    #logo {
        display:block;
    }
}


html {
	width:100%;
	height:100%;
}
body {
	width:100%;
	height:100%;
	margin: 0px;
}
#backgroundContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
    display: none;
}
#preloaderBackgroundContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
}
#bodyWrapper {
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

	#bodyContainer {
		display: table-cell;
		vertical-align: middle;
        position:absolute;
        z-index:2;
		width:100%;
		height:100%;
		
	}
    

/* ==========================================================================
   Main preloader
   ========================================================================== */

#mainPreloader {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    width:475px;
    height:125px;
    top:50%;
    margin-top:-62px;
    font-weight:100;
    font-family: 'Raleway', sans-serif;
    color:white;
}

#mainPreloader_leftContainer {
    width: 200px;
    position: relative;
    overflow: hidden;
    height: 100%;

}

@media (max-width:600px)
{
    #mainPreloader {
        width:275px;
    }
    #mainPreloader_leftContainer {
        display:none;
    }
}


	.mainPreloader_container {
		float:left;
	}

		#mainPreloader_leftContainer p {
			margin: 0px;
			height: 33px;
			position: relative;
			font-size:24px;
			top:46px;
			text-shadow: rgba(255,255,255,.5) 0 0 1px;
		}
			span#mainPreloader_leftContainer_loadingText {
				display:none;
			}
	#mainPreloader_rightContainer {
		font-size:12px;
		width:275px;
		position:relative;
		height:100%;
		
	}
		.mainPreloader_rightContainer_parenthesis {
			font-size:80px;
			position:absolute;
			font-family: 'Old Standard TT', serif;	
			display:none; 
			height: 100px;
			width: 32px;
			
		}
			.mainPreloader_rightContainer_parenthesis span {
				position:relative;
				height:100%;
				width:100%;
			}
		#mainPreloader_rightContainer_rightParenthesis {
			/*right:0px; */
			right:121px;
		}
		#mainPreloader_rightContainer_leftParenthesis {
			/*left:0px; */
			left:121px;			
		}
		#mainPreloader_rightContainer_loadList {
			position: absolute;
			height: 48px;
			top: 38px;
			left:68px;
		}
			#mainPreloader_rightContainer_loadList ul {
				list-style:none;
				margin:0px;
				padding:0px;
			}
				.mainPreloader_rightContainer_loadListItem {
				
				}
				.mainPreloader_rightContainer_loadListItem p {
					margin: 0px;
				}
					span.loadList_description {
						text-shadow: rgba(255,255,255,.5) 0 0 1px;
						display:none;
					}
					span.loadList_tick {
						position: absolute;
						right: -35px;
						display:none;
					}
/*shooting stars*/

.stars {
    transform:translate3D(0em, 0em, 0); animation: stars 21s ease; transform-style: preserve-3d;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
