<!-- TEMPLATES -->
<script id="blogTemplate" type="text/x-jsrender">
  <tr class="blogRow">
  	<td class="blogLeft">
  		<div class="blogLeftControls">
  			<p class="blogLeftControlsDate">
  				<span class="description">{{:date}}</span><span class="icon fa fa-calendar"></span>
  			</p>
  			<p class="blogLeftControlsTime">
  				<span class="description">{{:time}}</span><span class="icon fa fa-clock-o"></span>
  			</p>
  			<p class="blogLeftControlsEntry">
  				<span class="description">{{:entry}}</span><span class="icon fa fa-question-circle"></span>
  			</p>
  		</div> <!-- .blogLeftControls -->
  	</td> <!-- .blogLeft -->
  	<td class="blogRight">
  		<div class="blogRightTitle">
  			<h1 lang="en" class="lang">{{:title_en}}</h1>
  			<h1 lang="de" class="lang">{{:title_de}}</h1>
  			<h1 lang="pl" class="lang">{{:title_pl}}</h1>
  		</div>
  		<div class="blogRightContent">
  			<div class="lang" lang="en">{{:content_en}}</div>
  			<div class="lang" lang="de">{{:content_de}}</div>
  			<div class="lang" lang="pl">{{:content_pl}}</div>
  		</div>
  	</td> <!-- .blogRight -->
  </tr>
</script>
<script id="bioTemplate" type="text/x-jsrender">
  <tr class="bioRow">
	<td class="bioLeft">

	</td>
	<td class='bioRight'>
		<div class="blogRightTitle">
  			<h1 lang="en" class="lang">{{:title_en}}</h1>
  			<h1 lang="de" class="lang">{{:title_de}}</h1>
  			<h1 lang="pl" class="lang">{{:title_pl}}</h1>
  		</div>
  		<div class="bioRightContent">
			<div class="lang" lang="en">{{:content_en}}</div>
			<div class="lang" lang="de">{{:content_de}}</div>
			<div class="lang" lang="pl">{{:content_pl}}</div>
		</div>
	</td> <!-- bioRight -->
  </div> <!-- bioRow -->
</script>
<script id="workTemplate" type="text/x-jsrender">
	<div class="grid-item">
		<div class="grid-header">
			<div class="image-overlay"></div>
			<img src="img/work/{{:main_image}}">
		</div>
		<div class="grid-content">
			<div class="grid-content-time">
				<i class="fa fa-clock-o "></i>
				<span class="">{{:~prettyDate(time)}}</span>
			</div>
			<div class="grid-content-title">
				<div class="lang" lang="en">{{:title_en}}</div>
				<div class="lang" lang="pl">{{:title_pl}}</div>
				<div class="lang" lang="de">{{:title_de}}</div>
			</div>
			<div class="grid-content-description">
				<div class="lang" lang="en">{{:content_en}}</div>
				<div class="lang" lang="pl">{{:content_pl}}</div>
				<div class="lang" lang="de">{{:content_de}}</div>
			</div>
		</div>
		<div class="grid-footer">
			<span><i class="fa fa-file-image-o"></i></span><span style="font-size: 11px;margin-left: 10px;"> {{:images.length}} images in gallery</span>
		</div>
	</div>
</script>
<script id="contactTemplate" type="text/x-jsrender">
  <div class="contactLinks">
	  <div class="contactLink">
        <span><i class="fa fa-comments-o"></i></span>
      </div>
	  <div class="contactLink">
        <span><i class="fa fa-xing"></i></span>
      </div>
      <div class="contactLink">
        <span><i class="fa fa-linkedin"></i></span>
      </div>
  </div>
</script>
<script id="scriptsTemplate" type="text/x-jsrender">
  
</script>
<!-- TEMPLATES END-->



<!-- MAIN CONTENT -->
<div id="header">
	<div id="topControls">
		<div class="topControl" id="topControl_music" data-switch="toggle" data-options="on.on_fa-volume-medium,off.off_fa-volume-off"  data-current="off">
			<div>
				<!--<span class="topControl_description">SOUND: </span><span class="topControl_status color-red">off</span>-->
				<span class="topControl_icon fa fa-volume-off"></span>
			</div>
		</div>
		<div class="topControl" id="topControl_language" data-switch="normal" data-options="en,de,pl" data-current="en">
			<div>
				<!--<span class="topControl_description">LANGUAGE: </span><span class="topControl_status color-blue">en</span>-->
				<span class="topControl_icon fa fa-globe"></span>
			</div>
			<div class="topControls_select"></div>
		</div>
	</div><!-- #topControls -->
	<div id="topBar">
		<canvas id="leftParallelogram"></canvas>
		<canvas id="rightParallelogram"></canvas>
		<nav id="topMenu" class="topMenu">
			<a href="#blog">
				<span class="mainNav_link">BLOG</span>
			</a><!-- #blog -->
			<a href="#bio">
				<span class="mainNav_link">BIO</span>
			</a><!-- #bio -->
			<a href="#work">
				<span class="mainNav_link">WORK</span>
			</a><!-- #work -->
			<a href="#contact">
				<span class="mainNav_link">CONTACT</span>
			</a><!-- #contact -->
			<a href="#scripts">
				<span class="mainNav_link">SCRIPTS</span>
			</a><!-- #scripts -->
		</nav><!-- #topMenu -->
	</div><!-- #topBar -->
	

</div><!-- #header -->
<div id="wrapperContainer">
	<div id="_home" class="page auto-height">
		
		<nav class="mainNav" id="mainNav">
		<div id="logo">
			<img src="gfx/logo.png">
		</div>
			<a href="#blog">
				<span class="mainNav_link">BLOG</span>
				<span class="mainNav_description">blog</span>
			</a>
			<a href="#bio">
				<span class="mainNav_link">BIO</span>
				<span class="mainNav_description">blog</span>
			</a>
			<a href="#work">
				<span class="mainNav_link">WORK</span>
				<span class="mainNav_description">blog</span>
			</a>
			<a href="#contact">
				<span class="mainNav_link">CONTACT</span>
				<span class="mainNav_description">blog</span>
			</a>
			<a href="#scripts">
				<span class="mainNav_link">SCRIPTS</span>
				<span class="mainNav_description">blog</span>
			</a>
		</nav><!-- #mainNav -->
	</div><!-- #_home -->
	<div id="_blog" class="page auto-height">

	</div><!-- #_blog -->
	<div id="_bio" class="page auto-height">
		
	</div><!-- #_bio -->
	<div id="_work" class="page auto-height grid " data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
		
	</div><!-- #_work -->
	<div id="_contact" class="page auto-height">
		
	</div><!-- #_contact -->
	<div id="_scripts" class="page auto-height">
		
	</div><!-- #_scripts -->
</div><!-- #wrapperContainer -->