<div id="mainPreloader">
	<div class="mainPreloader_container" id="mainPreloader_leftContainer">
		<p><span id="mainPreloader_leftContainer_loadingText">loading content  ...</span></p>
	</div>
	<div class="mainPreloader_container" id="mainPreloader_rightContainer">
		<div class="mainPreloader_rightContainer_parenthesis" id="mainPreloader_rightContainer_rightParenthesis">
			<span>}</span>
		</div>
		<div class="mainPreloader_rightContainer_parenthesis" id="mainPreloader_rightContainer_leftParenthesis">
			<span>{</span>
		</div>
		<div id="mainPreloader_rightContainer_loadList">
			<ul>
				<li class="mainPreloader_rightContainer_loadListItem" id="loadList_music">
					<p><span class="loadList_description">ambient music</span><span class="loadList_tick fa fa-check"></span></p>
				</li>
				<li class="mainPreloader_rightContainer_loadListItem" id="loadList_image">
					<p><span class="loadList_description">background image</span><span class="loadList_tick fa fa-check"></span></p>
				</li>
				<li class="mainPreloader_rightContainer_loadListItem" id="loadList_sections">
					<p><span class="loadList_description">portfolio sections</span><span class="loadList_tick fa fa-check"></span></p>
				</li>
			</ul>
		</div>
	</div>
</div>